* {
  margin: 0;
  padding: 0;
  background-size: 100vw 100vh;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  color: #97e264;
}
.div-login {
  background-color: #3d3d3d;
  height: 100vh;
}
figure {
  display: flex;
}
.logo {
  margin: auto;
  height: 20.30075187969925vh;
}
h1 {
  font-family: "Fredoka One", cursive;
  display: flex;
  letter-spacing: 5px;
  justify-content: center;
  font-size: 50px;
  color: #97e264;
}
input {
  font-family: "Nixie One", cursive;
  width: 60.210526vw;
  height: 5.413534vh;
  border-radius: 9px;
  display: flex;
  margin: auto;
  margin-bottom: 27px;
  margin-top: 20px;
}
.options{
  width: 40px;
}
label {
  margin: 30px;
  padding: 10px;
}
::placeholder {
  font-size: 25px;
}
button {
  color: black;
  font-size: 26px;
  display: flex;
  margin: auto;
  margin: auto;
  width: 210px;
  height: 60px;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
}
p {
  margin: auto;
  text-align: center;
  margin-top: 26px;
}
.section {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}
