.btn-item {
  background-color: #3d3d3d;
  height: 4vh;
  width: 10vw;
  border-radius: 24px;
  font-family: Nixie One;
  margin-left: 1vw;
}
.container-menu {
  border: 1px solid;
  width: 40vw;
  height: auto;
  margin-top: 1vh;
}
.price {
  font-size: 16px;
  letter-spacing: 3px;
}
.item-name {  
    font-size: 17px;
    letter-spacing: 2px;
  
}
@media (min-width: 720px){
  .item-name {
    font-size: 30px;
    }
    .price{
      font-size: 26px;
    }
}

@media (min-width: 1200px) {
 
.item-name {
  font-size: 2em;
  letter-spacing: 4px;
}
.price {
  font-size: 2em;
}
}
