.btn-item {
  background-color: #3d3d3d;
  height: 4vh;
  width: 40px;
  border-radius: 24px;
  font-family: Nixie One;
}
.container-menu {
  border: 1px solid;
  width: 40vw;
  height: auto;
  margin-top: 2vh;
}
.price {
  letter-spacing: 3px;
}
.item-name {
  letter-spacing: 3px;
  font-size: 13px;
}
@media (min-widyh: 800px) {
  font-size: 19px;
}
