* {
  margin: 0;
  padding: 0;
  background-size: 100vw 100vh;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  color: #97e264;
}
li {
  list-style-type: none;
}
.header-hall {
  display: flex;
}
.div-hall {
  background-color: #3d3d3d;
  height: 100vh;
  width: 100vw;
}
.logo-hall {
  height: 20.30075187969925vh;
}
.line-hall {
  width: 34.06vw;
  margin: auto;
  height: 3vh;
}
.client-info {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-bottom: 10px;
}
.h1-hall {
  margin-top: 10vh;
  font-family: "Fredoka One", cursive;
  font-size: 14px;
  color: #97e264;
  letter-spacing: 3px;
  text-align: center;
}
.input-service {
  color: black;
  font-family: "Nixie One", cursive;
  font-size: 32px;
  width: 29.210526vw;
  height: 4.413534vh;
  border: none;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 18px;
}
.button-hall {
  display: inline-block;
  background-color: #97e264;
  color: black;
  width: 14.512999vw;
  height: 6.413534vh;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 2px;
}
.menu-itens,
.order-resume {
  width: 50vw;
}
.icons-item {
  height: 25px;
  width: 25px;
}
.div-option,
.div-resume {
  width: 50vw;
  height: 67vh;
}
.div-resume {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.section-hall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.b-type {
  font-weight: bold;
  font-size: 11px;
  width: 23vw;
  height: 8vh;
}
.b-food {
  display: flex;
  justify-content: center;
}
.itens-menu {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
  height: 57vh;
}
.div-init {
  display: flex;
  justify-content: space-around;
}
.fugure-logo {
  display: flex;
  width: 22vw;
}
.figure-line {
  height: 5vh;
}
.header-hall {
  display: flex;
}
.div-name {
  align-self: center;
  margin: auto;
}
.button-exit {
  float: inline-end;
  width: 16vw;
  background-color: transparent;
  border: none;
}
.exit-image {
  float: right;
  height: 8vh;
}
.resume-order {
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 42vh;
  width: 50vw;
}
.item-order {
  width: 26vw;
  text-align: initial;
}
.finish-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 50vw;
  height: 18vh;
}
.total-price {
  text-align: center;
  width: 100vw;
}
.itens-resume {
  text-align: center;
}

@media (min-width: 320px) {
  .h1-hall {
    margin-top: 7vh;
    font-family: "Fredoka One", cursive;
    font-size: 12px;
    color: #97e264;
    letter-spacing: 5px;
    text-align: center;
  }
  .logo-hall {
    height: 17.300752vh;
  }
  .input-service {
    font-size: 18px;
    width: 42.210526vw;
    height: 5.413534vh;
    margin-bottom: 6px;
  }
  .b-type {
    width: 30vw;
    height: 7vh;
  }
  .div-option,
  .div-resume {
    width: 46vw;
  }
  button {
    font-family: "Fredoka One", cursive;
    background-color: #97e264;
  }
  .button-hall {
    font-family: "Fredoka One", cursive;
    width: 32.512999vw;
    height: 6.413534vh;
    font-size: 11px;
  }
  .icons-item {
    height: 16px;
    width: 16px;
  }
  .exit-image {
    margin: 5px;
    float: right;
    height: 6vh;
  }
}
@media (min-width: 768px) {
  .div-option,
  .div-resume {
    width: 50vw;
  }
  .h1-hall {
    font-size: 45px;
  }
  .button-hall {
    font-weight: bold;
    font-size: 21px;
    width: 30vw;
  }
  .b-type {
    width: 20vw;
    height: 8vh;
  }
  .input-service {
    font-size: 26px;
  }
  .item-name {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .item-order {
    font-size: 21px;
  }
  .total-price {
    font-size: 26px;
  }
}
