* {
  margin: 0;
  padding: 0;
  background-size: 100vw 100vh;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  color: #97e264;
}
.header-hall {
  display: flex;
}
.div-hall {
  background-color: #3d3d3d;
  height: 100vh;
  width: 100vw;
}
/* figure {
  display: flex;
  margin-bottom: 6.360902vh;
} */
.logo-hall {
  height: 20.30075187969925vh;
}
.line-hall {
  width: 52.059908vw;
  margin: auto;
  height: 5vh;
}
.h1-hall {
  margin-top: 10vh;
  font-family: "Fredoka One", cursive;
  font-size: 14px;
  color: #97e264;
  letter-spacing: 5px;
  text-align: center;
}
.input-service {
  color: black;
  font-family: "Nixie One", cursive;
  width: 22.210526vw;
  height: 4.413534vh;
  border: none;
  border-radius: 9px;
  display: inline-block;
  margin-bottom: 18px;
}
/* ::placeholder {
  font-family: "Nixie One", cursive;
  font-size: 30px;
  color: black;
  padding: 8px;
} */
.label-service {
  font-size: 30px;
}
.button-hall {
  display: inline-block;
  background-color: #97e264;
  color: black;
  width: 35.512999vw;
  height: 5.413534vh;
  border-radius: 9px;
  font-size: 14px;
  letter-spacing: 2px;
}
.menu-itens,
.order-resume {
  width: 50vw;
}

.div-option,
.div-resume {
  width: 50vw;
  height: 67vh;
}
.div-resume{
  text-align: end;
  flex-wrap: wrap;
  justify-content: center;
}
.section-hall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.b-type {
  font-weight: bold;
  font-size: 11px;
  width: 23vw;
  height: 8vh;
}
.b-food {
  display: flex;
  justify-content: center;
}
.itens-menu {
  overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
    height: 57vh;
}
.div-init {
  display: flex;
  justify-content: space-around;
}
.fugure-logo {
  display: flex;
  width: 22vw;
}
.figure-line {
  height: 5vh;
}
.header-hall {
  display: flex;
}
.div-name {
  align-self: center;
  margin: auto;
}
.button-exit {
  width: 10vw;
  background-color: transparent;
  border: none;
}
.exit-image {
  float: right;
  height: 8vh;
}
.resume-order{
  overflow: auto;
  height: 46vh;
  width: 50vw;
}
.finish-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: auto;
  width: 50vw;
}
.total-price{
  text-align: center;
  width: 100vw;
}
.end{
  width: ;
}
@media(min-width: 768px){
.h1-hall{
  font-size: 32px;
}
.button-hall{
  font-weight: bold;
  font-size: 21px;
}
.b-type{
  width: 19vw; 
}
