.container-orders{
  display: flex;
  justify-content: space-around;
  height: 90vh;
  width: 90vw;
}
.container-order{
  border: 1px solid;
  margin: 3vh  10px 10px 10px ;
  /* margin-top: 3vh; */
}
.orders{
  width: 40vw;
  height: 80vh;
  text-align: center;
  overflow: auto;
  border: 3px solid;
}
.order-state{
position: fixed;
width: 39vw;
color: black;
background-color: #96e2643b;
}