* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka One", cursive;
    color: #97e264;
  }
  .div-kitchen{
    background-color: #3d3d3d;
    height: 100vh;
    width: 100vw;
  }
  .section-kitchen{
    text-align: center;
    justify-content: space-around;
    display: flex;
    height: 90vh;
    width: 100vw;
  }
.nav-kitchen{
  justify-content: space-between;
  display: flex;
    width: 100vw;
    height: 10vh;    
  }
  .div-orderRecived{
    border: 2px solid black;
    float: left;
    height: 90vh;
    width: 45vw;
    overflow: auto;
  }
  .div-orderFinished{
    border: 2px solid black;
    float: right;
    height: 90vh;
    width: 45vw;
    overflow: auto;
  }
  .figure-kitchen{

  }
  .logo-kitchen{
    height: 9vh;
  }
  .h1-kitchen{
    align-self: center;
  }
  .exit-image{
  width: 12vw;
}
  .h1-orders{
    font-size: 16px;
  }
  .div-order1{
    border: 1px solid black;
  }
  @media(min-width: 762px){
    .h1-kitchen{
      font-size: 43px;
    }
    .h1-orders{
      font-size: 27px;
    }
  }