* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  color: #97e264;
}
.div-kitchen {
  background-color: #3d3d3d;
  height: 100vh;
  width: 100vw;
}
.section-kitchen {
  text-align: center;
  justify-content: space-around;
  display: flex;
  height: 70vh;
  width: 100vw;
}
.nav-kitchen {
  justify-content: space-between;
  display: flex;
  width: 100vw;
  height: 16vh;
}
.container-order{
  /* margin-top: 3vh; */
  font-family: Fira Code;
  border: 1px solid;
  margin: 3vh  10px 10px 10px ;
  background-color: #96e26410;
}
.div-orderRecived {
  border: 2px solid #97e264;
  float: left;
  height: 90vh;
  width: 45vw;
  overflow: auto;
}
.div-orderFinished {
  border: 2px solid #97e264;
  float: right;
  height: 90vh;
  width: 45vw;
  overflow: auto;
}
.logo-kitchen {
  height: 9vh;
}
.h1-kitchen {
  margin-left: 4vh;
  align-self: center;
  letter-spacing: 3px;
}
.exit-image {
  width: 12vw;
}
.h1-orders {
  display: flex;
  width: 44.5vw;
  justify-content: center;
  letter-spacing: 3px;
  background-color: #96e2643b;
  text-align: center;
  position: absolute;
  color: black;
  font-size: 16px;
}
.div-order1 {
  border: 1px solid black;
}

@media (min-width: 320px) {
  .nav-kitchen {
    height: 19vh;
  }
  .container-order{
    margin: 8vh 10px 10px 10px;
  }
  .logo-kitchen {
    height: 17.300752vh;
  }
  .line-kitchen {
    width: 63.059908vw;
    margin: auto;
    height: 3vh;
  }
  .h1-kitchen {
    font-family: "Fredoka One", cursive;
    font-size: 16px;
    color: #97e264;
    letter-spacing: 5px;
    text-align: center;
  }
  .h1-orders {
    font-size: 12px;
  }
  .div-orderRecived,
  .div-orderFinished {
    justify-content: center;
    height: 78vh;
  }
  .exit-image {
    margin: 5px;
    float: right;
    height: 6vh;
  }
}
@media (min-width: 768px) {
  .h1-kitchen {
    font-size: 43px;
  }
  .h1-orders {
    font-size: 27px;
    letter-spacing: 2px;
  }
  .line-kitchen {
    width: 24.059908vw;
  }
  .ready-orders {
    font-size: 20px;
  }
}
