.div-register {
  margin: 22px;
  background-color: #3d3d3d;
}
.bq-title {
  font-size: 65px;
  letter-spacing: 5px;
  margin: 10px 0 10px 0;
  text-align: center;
}
.label-signup {
  padding: 10px;
  height: 10px;
  font-size: 36px;
  letter-spacing: 3px;
}
.credentials {
  margin: 30px;
  color: black;
  font-family: "Nixie One", cursive;
  font-size: 26px;
  display: flex;
  width: 300px;
  height: 70px;
  border-radius: 9px;
}
.button-create {
  border-radius: 7px;
  font-family: Fredoka One;
  letter-spacing: 6px;
  margin: 10px;
  width: 65.512999vw;
  height: 7.413534vh;
  font-size: 35px;
}
.options {
  width: 30px;
  height: 28px;
}
.div-credentials {
  display: block;
  padding: 7px;
  text-align: center;
}

@media (min-width: 320px) {
  .img-section {
    height: 60px;
    width: 40px;
  }
  .bq-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin: 20px 0 20px 0;
  }
  .label-signup {
    font-size: 17px;
  }
  .credentials {
    margin: 20px;
    margin-left: 26px;
    width: 256px;
    height: 40px;
  }
  .options {
    width: 20px;
    height: 17px;
  }
  .button-create {
    align-items: center;
    display: flex;
    text-align: center;
    width: 30vw;
    margin: auto;
    justify-content: center;


    border-radius: 7px;
    font-family: Fredoka One;
    letter-spacing: 2px;
    /* margin: 10px; */
    /* width: 46.512999vw; */
    height: 7.413534vh;
    font-size: 16px;
  }
  figure {
    margin-bottom: 5.360902vh;
  }
  /* p {
    font-size: 15px;
    letter-spacing: 3px;
  } */
  .line {
    margin-top: 1.022556vh;
    width: 212px;
  }
}

@media (min-width: 768px) {
  .img-section {
    height: 125px;
    width: 90px;
  }
  .bq-title {
    font-size: 65px;
    letter-spacing: 5px;
    margin: 10px 0 10px 0;
    text-align: center;
  }
  .label-signup {
    padding: 7px;
    height: 10px;
    font-size: 32px;
    letter-spacing: 3px;
  }
  .credentials {
    margin: auto;
    /* margin: 30px;
    margin-left: 181px; */
    font-size: 24px;
    width: 350px;
    height: 80px;
  }
  .button-create {
    display: flex;
    text-align: center;
    width: 30vw;
    margin: auto;
    justify-content: center;

    border-radius: 10px;
    font-family: Fredoka One;
    letter-spacing: 2px;
    /* width: 44.512999vw; */
    height: 6.413534vh;
    font-size: 26px;
  }
  .options {
    width: 30px;
    height: 28px;
  }

  figure {
    margin-bottom: 5.360902vh;
  }
  .line {
    margin-top: 5.022556vh;
    width: 500px;
  }
}
